<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Lista de Usuários</h1>
    <p class="mb-4">Clique em editar para editar o usuário em questão, cliquem em excluir para excluir o mesmo usuário
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lista completa</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Data Nascimento</th>
                            <th>Sexo</th>
                            <th>Editar</th>
                            <th>Excluir</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Data Nascimento</th>
                            <th>Sexo</th>
                            <th>Editar</th>
                            <th>Excluir</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr *ngFor="let item of lista; let i = index">
                            <th>{{item.id}}</th>
                            <th>{{item.nome}}</th>
                            <th>{{item.cpf}}</th>
                            <th>{{item.data_nascimento}}</th>
                            <th>{{item.sexo}}</th>
                            <th class="th"><button type="button" class="btn btn-warning"
                                    (click)="editarUsuairo(item.id)"><i class="fa fa-check"></i></button></th>
                            <th class="th"><button type="button" class="btn btn-danger  "
                                    (click)="excluirUsuario(item.id)"><i class="fa fa-check"></i></button></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="modal">
        <button type="button" id="botaoModal" data-toggle="modal" data-target="#modalExclusao">
        </button>
    </div>

</div>
<!-- /.container-fluid -->

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="modalExclusao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalExclusao">Exclusão de Usuário</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span>{{resposta}}</span>
            </div>
            <div class="modal-footer">
                <button *ngIf="confirmacao" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button *ngIf="confirmacao" type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="confirmar()">Confirmar</button>
                    <button *ngIf="!confirmacao" (click)="concluir()" type="button" class="btn btn-secondary" data-dismiss="modal">Concluir</button>
            </div>
        </div>
    </div>
</div>