<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Venda</h1>
    <div class="card mb-4">
        <div class="card-header py-3 mb-2">
            <h6 class="m-0 font-weight-bold text-primary">Seleção de Produto</h6>
        </div>
        <div class="col-12">
            <form [formGroup]="vendaForm" (ngSubmit)="submitForm()">
                <div class="form-group">
                    <label for="nomeProduto">
                        Pesquise por um produto
                    </label>
                    <input type="search" formControlName="nomeProduto" class="form-control" name="nomeProduto"
                        id="nomeProduto" [(ngModel)]="produto" (ngModelChange)="listarProdutosPorNome()">
                </div>
                <div class="col-12">
                    <h1>{{produtoTitulo}}</h1>
                </div>

                <div class="form-group">
                    <label>
                        Quantidade
                    </label>
                    <input type="number" formControlName="quantidade" class="form-control" name="quantidade">
                </div>
                <div class="card-body">
                    <div class="card-header py-3 mb-2">
                        <h6 class="m-0 font-weight-bold text-primary">Lista de Pesquisa de Produtos</h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Preço</th>
                                    <th>Quantidade Disponível</th>
                                    <th>Selecionar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of listaProdutos; let i = index">
                                    <th>{{ item.id }}</th>
                                    <th>{{ item.nome }}</th>
                                    <th>R$ {{ formatarValor(item.preco_venda) }}</th>
                                    <th>{{ item.quantidade }}</th>
                                    <th class="th"><button type="button" class="btn btn-warning"
                                            (click)="adicionarProduto(item.id)"><i class="fa fa-check"></i></button>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card-body">
                    <div class="card-header py-3 mb-2">
                        <h6 class="m-0 font-weight-bold text-primary">Carrinho</h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Preço</th>
                                    <th>Quantidade</th>
                                    <th>Excluir</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of listaVenda; let i = index">
                                    <th>{{ item.id }}</th>
                                    <th>{{ item.nome }}</th>
                                    <th>R$ {{ formatarValor(item.preco) }}</th>
                                    <th>{{ item.quantidade }}</th>
                                    <th class="th"><button type="button" class="btn btn-danger"
                                            (click)="excluirProduto(item.id)"><i class="fa fa-check"></i></button>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="botoes mt-5 mb-3 d-flex justify-content-around">
                    <button class="btn btn-primary" [disabled]="vendaForm.invalid">Finalizar Venda</button>
                    <button class="btn btn-warning" (click)="$event.preventDefault(); limparFormulario()">Limpar Venda
                    </button>
                </div>
            </form>
        </div>
        <div class="card-header py-3 mb-2">
            <h6 class="m-0 font-weight-bold text-primary">Total</h6>
            <h1>
                {{ total | customNumber }}
            </h1>
        </div>
    </div>
    <div id="modal">
        <button type="button" id="botaoModal" data-toggle="modal" data-target="#modalExclusao">
        </button>
    </div>
</div>

<div class="modal fade" id="modalExclusao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalExclusao">Exclusão de Produtos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span>{{resposta}}</span>
            </div>
            <div class="modal-footer">
                <!--<button *ngIf="confirmacao" type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                <button *ngIf="confirmacao" type="button" class="btn btn-danger" data-dismiss="modal" (click)="confirmar()">Confirmar</button>
                <button *ngIf="!confirmacao" type="button" class="btn btn-info" data-dismiss="modal" (click)="concluir()">Concluir</button>
                -->
                <button *ngIf="aviso" type="button" class="btn btn-info" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>